<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/java/autoqa-example.store-Api">
        <classes>
           <class name="com.example.tests.UserTests"/>
            <class name="com.example.tests.ProductTests"/>
            <class name="com.example.tests.CartTests"/>
            <class name="com.example.tests.OrderTests"/>
            <class name="com.example.tests.PaymentTest"/>
        </classes>
    </test>
</suite>